body {
    margin: 0px;
    color: #FFFFFF;
    background: #000000;
}

.stageContainer {
    overflow: hidden;
    position: absolute;
}

.preloaderContainer {
    overflow: hidden;
    position: absolute;
    vertical-align: middle;
    background: #3C3232;
    z-index: 5000;
}

.menuContainer {
    width: 100%;
    height: 50px;
    position: absolute;
    overflow: hidden;
    min-width: 700px;
}

.subContainer {
    position: absolute;
    top: 72px;
    width: 240px;
}

.contentContainer {
    position: absolute;
    top: 100px;
    left: 250px;
    width: 100%;
    min-width: 450px;
    max-width: 900px;
    font-size: 13px;
}

.audioContainer {
    width: 27px;
    height: 27px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    display: none;
}

.preloaderBox {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 224px;
    height: 60px;
    background: url(../files/media/preloadBG.png) no-repeat #3C3232;
}

.preloaderAni {
    position: absolute;
    width: 200px;
    height: 10px;
    top: 12px;
    left: 12px;
    overflow: hidden;
    background: url(../files/media/preloadAni.gif) no-repeat;
}

.preloaderText {
    position: relative;
    width: 200px;
    top: 28px;
    left: 12px;
    text-align: center;
    font-size: 12px;
}

.preloaderSub {
    position: relative;
    width: 200px;
    top: 40px;
    left: 12px;
    text-align: center;
    font-size: 10px;
}

.subItem .title {
    width: 190px;
    height: 35px;
}

.subItem .sub {
    position: relative;
    left: 30px;
    padding: 5px;
    width: 140px;
    height: 20px;
    font-size: 13px;
    display: none;
    color: #D7D7D7;
    margin: 5px;
}

.subItem .footer {
    position: absolute;
    left: 25px;
    top: 70px;
    width: 190px;
    height: 20px;
}

.sub .cover {
    position: absolute;
    left: -20px;
    top: -2px;
    width: 180px;
    height: 32px;
    overflow: hidden;
    z-index: 500;
}

.sub .arrow {
    position: absolute;
    top: 9px;
    left: -20px;
    height: 10px;
    width: 6px;
    background: url(../files/media/subSelect.png) no-repeat;
    float: left;
    opacity: 0.0;
    z-index: 400;
}

.animateRanFade {
    position: absolute;
    top: -100px;
}

.menuCopy {
    position: relative;
    top: 35px;
    width: 250px;
    height: 15px;
    float: left;
    font-size: 8px;
    text-align: center;
    overflow: hidden;
}

.menuItem {
    position: relative;
    top: 25px;
    width: 100px;
    float: left;
    text-align: center;
}

.menuItem .cover {
    top: 0;
    left: 0;
    position: absolute;
    height: 100px;
    width: 100px;
}

.menuItem .title {
    height: 20px;
    overflow: hidden;
}

.menuItem .tag {
    height: 75px;
    padding-top: 5px;
    font-size: small;
}

#menuAbout .tag {
    background-color: #11C10D;
}

#menuSocial .tag {
    background-color: #1188FF;
}

#menuSupport .tag {
    background-color: #F72025;
}

#menuDonate .tag {
    background-color: #63C;
}

#menuLogin .tag {
    background-color: #F27900;
}

#panelAbout,
#panelSocial,
#panelSupport,
#panelDonate,
#panelLogin {
    display: none;
    padding: 25px;
}

div .slide {
    width: 100px;
    float: left;
    background-color: #0000CC;
}

body,
td,
th {
    font-family: Verdana, Geneva, sans-serif;
}

a:link {
    color: #FFF;
    text-decoration: none;
}

a:visited {
    color: #FFF;
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

a:active {
    color: #FFF;
    text-decoration: none;
}

a:link img {
    border: 0px;
}


/* ADJUSTS COLOR FOR TYPEFACES */

.smallBright,
.mediumBright,
.largeBright,
.hugeBright {
    color: #FFF;
}

.smallLight,
.mediumLight,
.largeLight,
.hugeLight {
    color: #E1E1E1;
}

.smallDim,
.mediumDim,
.largeDim,
.hugeDim {
    color: #A0A0A0;
}

.smallDark,
.mediumDark,
.largeDark,
.hugeDark {
    color: #141414;
}

.smallBlack,
.mediumBlack,
.largeBlack,
.hugeBlack {
    color: #000;
}


/* ADJUSTS SIZES FOR TYPEFACES */

.smallBright,
.smallLight,
.smallDim,
.smallDark,
.smallBlack {
    font-size: 10px;
}

.mediumBright,
.mediumLight,
.mediumDim,
.mediumDark,
.mediumBlack {
    font-size: 12px;
}

.largeBright,
.largeLight,
.largeDim,
.largeDark,
.largeBlack {
    font-size: 14px;
}

.hugeBright,
.hugeLight,
.hugeDim,
.hugeDark,
.hugeBlack {
    font-size: 18px;
}

.hugeBright,
.hugeDim,
.hugeLight,
.hugedark,
.hugeBlack {
    font-size: 20px;
}